/*
This is a comment
*/

/*
General Form is:

Selected Tag {
  property: value;
}

*/

/*Colors can be names, or codes*/

.title{
  color: #1bf768;
  border: 3px solid white;
}

.profile{
  color: #24e32b;
  border: 1.5px solid white;
}

.mainFunc{
  color: #1bf768;
  border: 2px dotted white;
}

#signUp{
  color: #24e32b;

}

body{
  background-color: #ae17c2;
}

table{
  border-color: #039908;
  border-width: 3px;
}

p{
  color: #000000;
}

h4{
  color: rgba(13,90,140,0.5)
}
